.NavBar {
  text-align: center;
  margin-top: 10px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: #bd7626;
  margin: auto;
}

a:hover {
  color: rgb(119, 161, 250);
  margin: auto;
}

.Logo {
  margin-right: 15px;
}

.NavItem {
  color:white;
  font-size: larger;
}

.Name {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: x-large;
  margin-top: 10px;
}